@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --main-color: #FF9600;
  --dark-color: #212529;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.hover\:text-main:hover {
  color: var(--main-color);
}